/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-subtitle, 400);
  font-size: 18px;
  color: var(--font-color, #000);
  background-size: cover;
  background-image: var(--bg-gradient);
  background-color: var(--bg-color, #000);
  background-attachment: fixed;
  margin-block-start: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-inline-size: 700px;
  font-family: var(--font-accent, fantazy);
  padding: 127px 0;
  margin-inline: auto;
  border: 2px solid #8B1A1A;
  background-color: var(--bg-color, #fff);
}

@media (width <= 375px) {
  .header {
    padding: 120px 0;;
  }
}

.header_type {
  margin-block-end: 100px;
}

.header_logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--font-weight-title, 700);
}

.header_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: var(--font-weight-subtitle, 400);
  text-transform: uppercase;
}

.card {
  display: grid;
  gap: 50px;
  max-inline-size: 696px;
  margin-inline: auto;
}

.content {
  display: grid;
  gap: 1px;
  background-color: var(--bg-color, #000);
  border: 2px solid #8B1A1A;
}

@media (width <=375px) {
  .content {
    gap: 0;
  }
}
.content_title {
  font-size: 18px;
  padding: 6px 10px;
  font-variation-settings: "wght" var(--font-weight-title, 700);
}

.content_img {
  position: relative;
  aspect-ratio: 1/1;
  margin-inline: auto;
  block-size: 100%;
  inline-size: 100%;
  border-block-start: 2px solid #8B1A1A;
  border-block-end: 2px solid #8B1A1A;
}

.label {
  display: block;
  position: absolute;
  font-family: var(--font-accent, fantazy);
  font-size: 14px;
  text-shadow: 1px var(--font-accent-color, #000);
  filter: opacity(50%);
  color: var(--font-color, #000);
  mix-blend-mode: hard-light;
  top: 25px;
  right: 25px;
  z-index: 1;
}

@media (width <=375px) {
  .label {
    right: 11px;
    top: 23px;
  }
}

@supports((text-stroke: 1px var(--font-accent-color, #000)) or (-webkit-text-stroke: 1px var(--font-accent-color, #000))) {
  .label {
      -webkit-text-stroke: 1px var(--font-accent-color, #000);
      text-stroke: 1px var(--font-accent-color, #000);
      text-shadow: none;
  }
} 

.card_type {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card_text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: 18px;
  margin: 25px;
  line-height: 21px;
}

.card_button {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 25px 25px 0;
  gap: 5px;
}

.grayscale {
  filter: grayscale(0.5);
}

.saturate {
  filter: saturate(150%)
}

.blur {
  filter: blur(2px);
}

.invert {
  filter: invert(20%);
}

.hue-rotate {
  filter: hue-rotate(50deg);
}

.sepia {
filter: sepia(30%) contrast(50%);
}

.brightness {
  filter: brightness(30%)
}

.card__icon-button {
  position: relative;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  max-block-size: 38px;
  cursor: pointer;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #8B1A1A;
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid #8B1A1A;
  background-color: var(--bg-color, #000);
}

.button {
  border: 2px solid #8B1A1A;
  background-color: var(--bg-color, #000);
  position: relative;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-transform: inherit;
  transition: box-shadow 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border: 2px solid #8B1A1A;
  box-shadow: 2px 2px 0 #000;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--bg-accent-color, #000);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover:after {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--font-accent, fantazy);
  font-size: 14px;
  position:relative;
  color: var(--font-accent-color, #000);
  mix-blend-mode: difference;
  line-height: 12.6px;
  z-index: 10;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 21px;
  margin-block-end: 103px;
}

@media (width <=375px) {
  .button__save {
    flex-direction: column;
    padding: 15px 20px;
    margin-block-end: 100px;
  }
}

.button__save-icon {
  width: 21px;
  position: relative;
  mix-blend-mode: difference;
  color: #9C2A2A;
  z-index: 2;
}

@media (width <=375px) {
  .button__save-icon {
    width: 28px;
  }
}

.dialog {
  max-inline-size: 355px;
  padding: 25px 30px;
  border: 2px solid #8B1A1A;
}

.dialog [open] {
  display: flex;
}

dialog::backdrop {
  background-color: #8B1A1A;
  opacity: 75%;
} 

.dialog__floppy {
  width: 80px;
  z-index: 2;
}

.dialog__content {
  display: flex;
  justify-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--font-accent, fantazy);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog__button {
  inline-size: 100%;
  padding: 12px 0;
  background-color: var(--bg-color, #000);
  border: 2px solid #8B1A1A;
  text-transform: uppercase;
  margin-block-start: 30px;
}