/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter';
    --font-accent: 'Press Start 2P';
    --font-color: #000;
    --font-accent-color: #fff;
    --font-weight-title: 700;
    --font-weight-subtitle: 400;

    --bg-gradient: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px), linear-gradient(#e7e7e7, #1a1a1a);
    
    --bg-color: #fff;
    --bg-accent-color: #000;
    --contour-color: #000;
    --contour-like-color: #ff0000;
    --heart-color: #000;
    --heart-like-color: #ff0000;
}