/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-main: 'Inter';
    --font-accent: 'Press Start 2P';
    --font-color: #8B1A1A; 
    --font-accent-color: #9C2A2A; 
    --font-weight-title: 700;
    --font-weight-subtitle: 400;
    --bg-gradient: repeating-linear-gradient(to right, #ffb6c1 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, #ffb6c1 0 2px, transparent 2px 4px), 
    linear-gradient(#ffdde1, #ff8fab); 
    --bg-color: #ffe4e1;
    --bg-accent-color: #ff4081; 
    --contour-color: #8B1A1A; 
    --contour-like-color: #9C2A2A;
    --heart-color: #8B1A1A; 
    --heart-like-color: #9C2A2A; 
}